<footer class="footer">
    <div class="container">
        <div class="footer__blocks">
            <div class="footer__block">
                <div class="footer__block-title">
                    О компании
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        О «Krossovki Group»
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Вакансии
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Контакты
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Реквизиты
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Горячая линия
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <div class="footer__block-title">
                    Помощь
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Как сделать заказ
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Доставка
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Оплата
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Контакты
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Безопасность
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <div class="footer__block-title">
                    «Krossovki Group» для бизнеса
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Добавить компанию
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Мои компании
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Подарочные сертификаты
                    </a>
                </div>
                <div class="footer__block-item">
                    <a class="footer__block-item-link" href="#">
                        Безопасность
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <div class="footer__block-title">
                    © «Krossovki Group». <br> Все права защищены.
                </div>
                <div class="footer__block-item footer__block-socials">
                    <a class="footer__block-socials-link footer__block-item-link" href="#">
                        <img src="../../assets/icons-facebook.png" alt="facebook icons">
                    </a>
                    <a class="footer__block-item-link footer__block-socials-link" href="#">
                        <img src="../../assets/icons-instagram.png" alt="facebook icons">
                    </a>
                    <a class="footer__block-item-link footer__block-socials-link" href="#">
                        <img src="../../assets/icons-facebook.png" alt="facebook icons">
                    </a>
                    <a class="footer__block-item-link footer__block-socials-link" href="#">
                        <img src="../../assets/icons-instagram.png" alt="facebook icons">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>