.footer {
    width: 100%;
    background-color: #dedede;
    padding: 30px 15px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.footer__blocks {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    font-size: 15px;
    color: #000;

    &-title {
        font-weight: bold;
        margin-bottom: 15px;
    }

    &-socials {
        display: flex;

        &-link {
            margin-right: 15px;
        }

        & img {
            max-width: 30px;
        }
    }

    &-item {
        margin-bottom: 5px;

        &-link {
            text-decoration: none;
            color: #3d5165;
            cursor: pointer;
        }
    }
}

// Adaptivity

@media screen and (max-width: 600px) {
    .footer__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__block {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .footer__blocks {
        grid-template-columns: 1fr;
    }

    .footer__block {
        text-align: justify;
    }
}