<footer class="footer">
    <div class="container">
        <div class="footer__blocks">
            <div class="footer__logo">
                <p class="footer__logo-text">
                </p>
                <img class="footer__logo-image" src="../../assets/logo.png" alt="logo">
            </div>
            <div class="footer__info">
                <div class="footer__block">
                    <p class="footer__block-title">
                        Бонусная программа в оффлайн магазинах
                    </p>
                    <ul class="footer__block-list">
                        <li class="footer__block-list-item">
                            Условия участия
                        </li>
                        <li class="footer__block-list-item">
                            Личный кабинет
                        </li>
                    </ul>
                </div>

                <div class="footer__block">
                    <p class="footer__block-title">
                        Политика в отношении обработки персональных данных
                    </p>
                    <ul class="footer__block-list">
                        <li class="footer__block-list-item">
                            Публичная оферта
                        </li>
                        <li class="footer__block-list-item">
                            Доставка и возврат
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__block">
                    <p class="footer__block-title">
                        Сервис и помощь
                    </p>
                    <ul class="footer__block-list">
                        <li class="footer__block-list-item">
                            Условия участия
                        </li>
                        <li class="footer__block-list-item">
                            Личный кабинет
                        </li>
                        <li class="footer__block-list-item">
                            Личный кабинет
                        </li>
                        <li class="footer__block-list-item">
                            Личный кабинет
                        </li>
                    </ul>
                </div>

                <div class="footer__block">
                    <p class="footer__block-title">
                        Заказ и оплата
                    </p>
                    <ul class="footer__block-list">
                        <li class="footer__block-list-item">
                            Публичная оферта
                        </li>
                        <li class="footer__block-list-item">
                            Доставка и возврат
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__block">
                <p class="footer__block-title">
                    Магазины
                </p>
                <ul class="footer__block-list">
                    <li class="footer__block-list-item">
                        STREETSTYLE
                    </li>
                    <li class="footer__block-list-item">
                        Наши вакансии
                    </li>
                    <li class="footer__block-list-item">
                        Блог
                    </li>
                    <li class="footer__block-list-item">
                        Юридическая информация
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>