<div class="contacts">
    <div class="container">
        <div class="contacts__title">
            Контакты
        </div>
        <div class="contacts__company">
            «Krossovki Group» SRL
        </div>
        <div class="contacts__phone">
            <span class="contacts__phone-text contacts__text--strong">
                Контактный телефон:
            </span>
            <span class="contacts__phone-text">
                +373 686 12 123
            </span>
        </div>
        <div class="contacts__address">
            <span class="contacts__address-text contacts__text--strong">
                Адрес магазина:
            </span>
            <span class="contacts__address-text">
                Ул. Буребиста 17
            </span>
        </div>

        <div class="contacts__email">
            <span class="conctacts__email-text contacts__text--strong">
                E-mail магазина:
            </span>
            <span class="conctacts__email-text">
                sneakers@gmail.com
            </span>
        </div>

        <div class="contacts__socials">
            <span class="contacts__socials-text">Посетите наши странички в </span>
            <a class="contacts__socials-link" href="https://facebook.com" target="_blank">
                <img class="contacts__socials-image" src="../../assets/icons-facebook.png" alt="facebook social">
            </a>
            <span class="contacts__socials-text"> и </span>
            <a class="contacts__socials-link" href="https://instagram.com" target="_blank">
                <img class="contacts__socials-image" src="../../assets/icons-instagram.png" alt="instagram social">
            </a>
        </div>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2681.953985298521!2d27.906986516025697!3d47.76294687919536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40cb674a1a1f35a9%3A0xcf5312e099910cfc!2zU3RyYWRhIEJ1cmViaXN0YSAxNywgQsSDbMibaSwg0JzQvtC70LTQsNCy0LjRjw!5e0!3m2!1sru!2s!4v1629791130599!5m2!1sru!2s"
            width="1300" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>