<nav class="nav">
    <div class="container">
        <div class="nav__list">
            <div (click)="handleMenu()" class="burger">
                <img src="../../assets/burger-icon.png" alt="burger menu">
            </div>

            <div class="nav__list-left" #NavLeftMenu>
                <div class="nav__list-item">
                    <img routerLink="/{{ langS.activeLang }}" routerLinkActive="active home"
                        [routerLinkActiveOptions]="{exact: true}" class="nav__logo" src="../../assets/logo.png"
                        alt="logo">
                </div>
                <div class="nav__list-item">
                    <a routerLink="/{{ langS.activeLang }}" routerLinkActive="active home" class="nav__list-link"
                        [routerLinkActiveOptions]="{exact: true}">
                        {{ langS.translate('home') }}
                    </a>
                </div>
                <div class="nav__list-item">
                    <a routerLink="/{{ langS.activeLang }}/products" routerLinkActive="active products"
                        class="nav__list-link">
                        {{ langS.translate('shoes') }}
                    </a>
                </div>
                <div class="nav__list-item">
                    <a routerLink="/{{ langS.activeLang }}/contacts" routerLinkActive="active contacts"
                        class="nav__list-link">
                        {{ langS.translate('contacts') }}
                    </a>
                </div>
            </div>
            <div class="nav__list-right">
                <div class="nav__list-item">
                    <img class="nav__search-image" src="../../assets/icon-search.png" alt="search">
                </div>
                <div class="nav__list-item">
                    <img class="nav__cart-image" routerLink="/{{ langS.activeLang }}/cart"
                        src="../../assets/icon-cart.png" alt="cart">
                </div>
                <a *ngIf="!userS.isLogin" routerLink="/{{ langS.activeLang }}/login" class="nav__login-btn">
                    {{ langS.translate('signIn') }}
                </a>
                <div *ngIf="userS.isLogin" routerLink="/{{ langS.activeLang }}/account" class="nav__login-user">
                    <img class="nav__login-userIcon" src="../../assets/user-icon.png" alt="user">
                </div>
                <p-dropdown class="nav__list-languages" [(ngModel)]="selectedLang" (onChange)="changeLanguage($event)"
                    [options]="langS.languages">
                </p-dropdown>
            </div>
        </div>
    </div>
</nav>