<section class="intro">
    <div class="container">
        <div class="intro__cards">
            <div class="intro__card">
                <img class="intro__card-image" src="../../../assets/model-krossovok.jpg" alt="model krossovok">
                <p class="intro__card-text">
                    {{ langS.translate('brightSneakers') }}
                </p>
                <a class="intro__card-button" routerLink="/{{ langS.activeLang }}/products">
                    {{ langS.translate('makeChoice') }}
                </a>
            </div>
            <div class="intro__card">
                <a class="intro__card-button" routerLink="/{{ langS.activeLang }}/products">
                    {{ langS.translate('makeChoice') }}
                </a>
                <p class="intro__card-text">
                    {{ langS.translate('seasonHit') }}
                </p>
                <img class="intro__card-image" src="../../../assets/model-krossovok1.jpg" alt="model krossovok">
            </div>
            <div class="intro__card">
                <img class="intro__card-image" src="../../../assets/model-krossovok3.jpg" alt="model krossovok">
                <p class="intro__card-text">
                    {{ langS.translate('stylishSneakers') }}
                </p>
                <a class="intro__card-button" routerLink="/{{ langS.activeLang }}/products">
                    {{ langS.translate('makeChoice') }}
                </a>
            </div>
            <div class="intro__card">
                <a class="intro__card-button" routerLink="/{{ langS.activeLang }}/products">
                    {{ langS.translate('makeChoice') }}
                </a>
                <p class="intro__card-text">
                    {{ langS.translate('trendSneakers') }}
                </p>
                <img class="intro__card-image" src="../../../assets/model-krossovok2.jpg" alt="model krossovok">
            </div>
        </div>
    </div>
</section>