<section class="intro">
    <div class="container">
        <div class="intro__cards">
            <div class="intro__card">
                <img class="intro__card-image" src="../../../assets/model-krossovok.jpg" alt="model krossovok">
                <p class="intro__card-text">
                    Яркие кроссовки
                </p>
                <a class="intro__card-button" href="#">
                    Сделать выбор
                </a>
            </div>
            <div class="intro__card">
                <a class="intro__card-button" href="#">
                    Сделать выбор
                </a>
                <p class="intro__card-text">
                    Хит сезона
                </p>
                <img class="intro__card-image" src="../../../assets/model-krossovok1.jpg" alt="model krossovok">
            </div>
            <div class="intro__card">
                <img class="intro__card-image" src="../../../assets/model-krossovok3.jpg" alt="model krossovok">
                <p class="intro__card-text">
                    Стильные кроссовки
                </p>
                <a class="intro__card-button" href="#">
                    Сделать выбор
                </a>
            </div>
            <div class="intro__card">
                <a class="intro__card-button" href="#">
                    Сделать выбор
                </a>
                <p class="intro__card-text">
                    Кроссовки в тренде
                </p>
                <img class="intro__card-image" src="../../../assets/model-krossovok2.jpg" alt="model krossovok">
            </div>
        </div>
    </div>
</section>