<div class="products">
    <div class="container">
        <div class="wrapper">
            <app-categories (onChangeCategory)="changeCategory($event)"></app-categories>

            <div class="products__blocks">
                <a routerLink="/{{ langS.activeLang }}/products/{{ product.uuid }}" *ngFor="let product of products"
                    class="products__block">
                    <div>
                        <img class="products__block-image" src="{{ domain + '/' + product.image }}" alt="krossovok">
                        <p class="products__block-title">{{ product.title }}</p>
                    </div>
                    <p class="products__block-price">{{ product.price | currency: '&#8381; ':'code' }}</p>
                </a>
            </div>
        </div>

        <div class="products__pagination">
            <p-paginator [rows]="6" (onPageChange)="changePage(selectedCategory, $event)" [totalRecords]="totalRecords">
            </p-paginator>
        </div>
    </div>
</div>