.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;

    margin-bottom: 100px;
}

.product {
    display: flex;
    justify-content: space-around;

    line-height: 1.8;

    &__info {
        max-width: 500px;
    }

    &__selectSizes {
        display: block;
        border: 0;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__articol {
        font-size: 14px;
        color: #929292;
        margin-bottom: 30px;
    }

    &__price {
        font-size: 26px;
        font-weight: bold;

        margin-bottom: 15px;
    }

    &__stock {
        display: flex;
        align-items: center;

        margin-bottom: 50px;

        &--image {
            display: block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        &--text {
            font-size: 16px;
            font-weight: bold;
        }
    }

    &__sizes {
        margin-bottom: 70px;

        &--text {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    &__btn {
        background-color: #e0e0e1;

        font-weight: bold;
        border: 2px solid transparent;
        transition: .2s linear;
        cursor: pointer;

        &:hover {
            border: 2px solid #929292;
        }
    }

    &__count {
        display: flex;
        width: 100px;
        justify-content: space-between;

        &--text {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &--btn {
            display: inline-block;
            width: 30px;
            height: 30px;

            text-align: center;
            font-size: 16px;
            margin-bottom: 50px;
        }
    }

    &__cart--btn {
        display: inline-block;
        padding: 10px 35px;
        border-radius: 10px;

        font-size: 16px;
        margin-bottom: 50px;
    }

    &__separator {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        margin-bottom: 50px;
    }

    &__accordion {
        display: block;

        &--paragraph span {
            font-weight: bold;
        }

        &--list {
            margin: 0 0 20px 20px;
        }
    }
}