<div class="categories">
    <p class="categories__selected">
        {{ categorySelected }}
    </p>

    <div class="categories__list">
        <p (click)="selectAll()" class="categiroes__list-text">
            {{ langS.translate("all") }}
        </p>
        <div *ngFor="let category of categories" class="categiroes__list-item">
            <p (click)="selectCategory(category)" class="categiroes__list-text">
                {{ category.name }}
            </p>
        </div>
    </div>
</div>