.container {
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
}

.not-login {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

    & p {
        margin-bottom: 20px;
        cursor: pointer;
    }

    & img {
        cursor: pointer;
    }
}

.account__user {
    margin: 0 auto;
    width: 400px;
    text-align: center;

    & p {
        margin-bottom: 20px;
    }
}

.username,
.username__bold {
    font-size: 18px;
}

.username__bold {
    font-weight: bold;
}

.user__btn {
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s linear;
    border: 0;
    cursor: pointer;

    display: block;
    margin: 0 auto;

    &:hover {
        color: white;
        transform: translateY(-7px);
        background: rgba(233, 55, 55, 0.9);
        box-shadow: 0 15px 20px rgba(233, 55, 55, 0.3);
    }
}